//Color Scheme
// color_button 	= #EE5622
color_white	= #FFFAEA
color_dark_section = #202C50
color_darkest_section = #0F1526
color_bright_section= #E2AE46

//Fonts
font_serif 		= 'museo-slab' 
font_sans_serif	= 'lato' 
font_cursive	= 'swingdancer' 
