@require(_variables)
#footer
	// margin-top 200px
	// min-height 300px
	background-image url(/img/pattern.png)
	background-size 50%
	// opacity 0.5
	&:before
		content " "
		position absolute
		width 100%
		height 20px
		background-color #000
		opacity 0.1
	
	.contact-info-box
		padding 20px 100px
		padding-bottom 40px
		h3
			font-family font_serif
			font-weight 100
			font-size 2rem
			margin 0
		h4
			margin 10px 0
			padding 0
			line-height 1.3
			font-family font_sans_serif
			font-size 1.4rem
			font-weight 300
		h5
			margin 10px 0
			display inline-block
			font-family font_sans_serif
			font-weight 300
			padding 10px
			font-size 1.4rem
			letter-spacing 2px
			border 1px solid color_pink
			line-height 30px
			vertical-align middle
		.email-icon
			display: inline-block
			margin 0 10px
			vertical-align middle
			svg
				height 20px
	.copyright
		display: block
		white-space nowrap
		font-size 1.2rem
		font-family font_sans_serif
		font-weight 300
		text-align: center
		letter-spacing 1px
		// background-color rgba(1,1,1,0.6)
		.bold 
			font-weight 700
		span
			display: inline-block
			padding 10px 5px
			padding-bottom 20px
	.social-icons
		padding 20px 100px
		padding-bottom 0