@require(_variables)
.splash
	width 100%
	height 600px
	position relative
	background-color color_darkest_section
	background-image url('/img/splash-bg.png')
	.splash-wrapper
		width 100%
		height 600px
		background-image url('/img/splash.png')
		
		background-size 600px
		background-repeat no-repeat
		background-position 50% 50%
		overflow hidden