@require(_variables)
first-breakpoint = 600px

.info-section
	position relative
	width 100%
	// height 500px
	background-color color_darkest_section
	background-image url(/img/pattern_dark.png)
	overflow hidden
	padding 2.5rem 12.5rem
	box-sizing border-box
	@media (max-width first-breakpoint)
		padding 2.5rem 5rem
	&.hindi, &.tv, &.advertising-films
		background-image url(/img/pattern.png)
	
	article
		text-align: center
		color color_white
		font-family font_sans_serif
		font-size 1.4rem
		@media (max-width first-breakpoint)
			font-size 2.5rem
	.film-list
		list-style none
		padding 0
		li
			position relative
			text-align center
			background-color color_white
			padding 5rem 2rem
			// display inline-block
			vertical-align top
			margin 20px 10px
			font-family font_sans_serif
			@media (max-width first-breakpoint)
				padding 5rem 5rem
			.film-language
				position absolute
				top 0
				right 0
				padding 20px
				font-weight 300
				opacity 0.3
				font-size 1.3rem
				@media (max-width first-breakpoint)
					font-size 2rem
			h3
				display block
				margin 0 auto
				text-align center
				font-size 2rem
				color color_bright_section
				@media (max-width first-breakpoint)
					font-size 3.2rem
			p
				font-family font_serif
				max-width 600px
				margin 20px auto
				font-size 2.5rem
				line-height 1.5