@require(_variables)
.splash
	position: relative
	width 100%
	// min-height 300px
	padding 10rem 3rem
	box-sizing border-box
	background-color #333
	text-align center
	.splash-bg
		position absolute
		top 0
		left 0
		background-color #000
		width 100%
		height 100%
		background-size 100%
	h1
		position: relative
		z-index 3
		color #FFF
		font-family font_sans_serif
		font-weight 200
		font-size 1.4rem
		em
			display block
			font-weight 500
			margin 0 auto
			font-size 2.4rem
			font-family font_sans_serif
			font-style normal
		.sub-text
			font-family font_serif
			display: block
			margin 10px auto
			margin-top 20px
			font-size 1.2rem
		
		
	